<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.htxcsoft.module.android.knowledge">

    <application
        android:name="debug.AndroidKnowledgeModuleApplication"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name="debug.DebugActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".module.android.view.FollowViewActivity"/>
        <activity android:name=".module.android.view.DispatchEventActivity">
        </activity>
        <activity android:name=".module.android.view.ActivityDispatchEventActivity">
        </activity>
    </application>

</manifest>