<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.junlong0716.module.girls">

    <application
        android:name="debug.AndroidKnowledgeModuleApplication"
        android:label="@string/module_android_knowledge"
        android:theme="@style/AppTheme">

    </application>

</manifest>