<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.htxcsoft.module.android.knowledge">

    <application android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"/>
        <activity android:name=".module.android.view.FollowViewActivity"/>
        <activity android:name=".module.android.view.ActivityDispatchEventActivity"/>
        <activity android:name=".module.android.view.DispatchEventActivity"/>
        <activity android:name=".module.android.designmode.DesignModeActivity">
        </activity>
    </application>

</manifest>