<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.htxcsoft.module.android.knowledge">

    <application android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".module.android_view.FollowViewActivity">
        </activity>
    </application>

</manifest>